h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 (
    font-family: 'Shippori Mincho B1', serif;
	
)

.subheading{
   font-family: 'Shippori Mincho B1', serif;
   font-size: 1.2rem;
   font-weight: normal;
 }

h1, h2, h3, h4, h5, h6, .subheading{
    text-transform:none;
}

h1, .h1 {
    font-size: 5rem;
}

p.lead {
    font-size: 1.2rem;
}

.bg-primary {
    background-color: #784b24;
    background-image: url("../assets/img/always-grey.png");
}

.text-primary {
   color: #784b24!important;
}
 a {
   color: #784b24;
}   

